.button {
  background: $blue;
  border: none;
  color: $off-white;
  padding: 5px 15px 5px 15px;
  font-size: $font-size-large;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 4px 4px rgb(173, 213, 236);
}

.button__login {
  @extend .button;
  display: inline-block;
  padding: $s-size;
  line-height: 1;
  box-shadow: none;
}

.button--link {
  background: none;
  box-shadow: none;
}
