.movie-single {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $m-size;
}

.movie-single > img {
  max-width: 400px;
  object-fit: contain;
  max-height: 400px;
  margin-bottom: 25px;
  transition: transform 450ms;
}

.movie-single > img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.movie-single > span {
  margin-bottom: 25px;
  align-items: center;
}
