.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $m-size;
}

.movie > img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 30px;
  transition: transform 450ms;
}

.movie > img:hover {
  transform: scale(1.08);
  opacity: 1;
}

.movie > span {
  align-items: center;
}
